h1{
    font: 48px extra-bold #f9faf8;
}
h3 {
    font-size: 24px;
}

button,
p {
    font-size: 18px;
}

.header{
    background-color: #1f2937;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 32px;
    justify-content: space-between;
} 

ul{
    display: flex;
    list-style: none;
    padding: 0;
    gap: 16px
}

a{
    text-decoration: none;
    color: #e5e7eb;
}


body{
    font-family: "Open Sans", sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    
}

.body{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero {
    background-color: #1f2937;
    color: white;
    flex: 2;
    display: flex;
    padding: 32px;
    align-items: center;
    gap: 16px;
}

.hero-content{
    flex: 1;
}

.hero .subtext{
    color: #e5e7eb;
}

.hero #cta {
    background-color: #3882f6;
    border: none;
    margin-top: 16px;
}

.hero-img{
    flex: 1;
    width: auto;
    height: 254px;
}

.cards{
    flex: 2;
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cards h3{
    margin: auto;
}

.items{
    display: flex;
    margin-top: 16px;
    justify-content: center;
    gap: 16px;
}

.item{
    flex: 1 1 180px;
    max-width: 180px;
    text-align: center;
}

.item img{
    border: 3px solid #3882f6;
    border-radius: 16px;
    height: 180px;
    width: 180px;
}

.quote {
    padding: 48px 32px;
    flex: 2;
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quote p {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
}

.quote #author {
    align-self: flex-end;
    font-size: 18px;
    font-weight: 800;
    font-style: normal;
    margin-top: 8px;
}


.cta-section{
    padding: 48px 32px;
    flex: 1
}

.modal{
    display: flex;
    border-radius: 8px;
    color: white;
    background-color: #3882f6;
    padding: 16px 24px;
    align-items: center;
}

.cta-text h3, p{
    padding: 0;
    margin: 0;
}

#cta{
    color: white;
    border: 1px solid white;
    background-color: transparent;
    padding: 4px 24px;
    border-radius: 4px;
    margin-left: auto;
}

.footer{
    font-size: 18px;
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
}